:root {
  --primary-color: white;
  --background-color: black;
  --hover-color: #e0e0e0; 
  --link-font-size: 3rem;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/jetbrains-mono.woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'JetBrains Mono', monospace, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#title {
  font-size: 8rem;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
  margin: 0;
  text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

#social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 1rem;
}

#social-links a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: var(--link-font-size);
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
  text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

#social-links a:hover {
  transform: scale(1.05);
}

@media (max-width: 767px) {
  #title {
    font-size: 5rem;
  }

  #social-links a {
    font-size: 2rem;
  }
}
