body {
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #080808;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

#title {
  font-weight: 100;
  text-align: center;
  color: #F8F8F8;
  margin: 0;
  opacity: 0; /* Animated with GSAP */
  text-shadow: 
  -2px 2px 3px #080808,
   2px 2px 3px #080808, 
   2px -2px 3px #080808, 
  -2px -2px 3px #080808;
}

#social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F8F8F8;
  margin-top: 1rem;
}

#social-links a {
  position: relative;
  text-decoration: none;
  color: #F8F8F8;
  text-align: center;
  margin-bottom: 1rem;
  opacity: 0; /* Animated with GSAP */
  transition: transform 0.3s ease-in-out;
  text-shadow: -1px 1px 0 #080808, 1px 1px 0 #080808, 1px -1px 0 #080808, -1px -1px 0 #080808;
}

#social-links a:hover {
  transform: scale(1.1);
}

/* Small Devices, Phones */
@media (max-width: 767px) {
  #title {
    font-size: 5rem;
  }

  #social-links a {
    font-size: 2.5rem;
  }
}

/* Medium Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #title {
    font-size: 8rem;
  }

  #social-links a {
    font-size: 4rem;
  }
}

/* Large Devices, Laptops/Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  #title {
    font-size: 10rem;
  }

  #social-links a {
    font-size: 5rem;
  }
}

/* Extra Large Devices, Large Laptops/Desktops */
@media (min-width: 1200px) {
  #title {
    font-size: 13rem;
  }

  #social-links a {
    font-size: 6.5rem;
  }
}
