body {
  font-family: 'JetBrains Mono';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #080808;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#title {
  font-size: 8rem;
  font-weight: 100;
  text-align: center;
  color: #F8F8F8;
  margin: 0;
  text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

#social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F8F8F8;
  margin-top: 1rem;
}

#social-links a {
  text-decoration: none;
  color: #F8F8F8;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
  text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

#social-links a:hover {
  transform: scale(1.05);
}

@media (max-width: 767px) {
  #title {
    font-size: 5rem;
  }

  #social-links a {
    font-size: 2rem;
  }
}
