body {
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #080808;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

#title {
  font-size: 14rem; /* Adjusted by media query below */
  font-weight: 100;
  text-align: center;
  color: #F8F8F8;
  margin: 0;
  opacity: 0; /* Animated with GSAP */
  text-shadow: 
  -2px 2px 3px #080808,
   2px 2px 3px #080808, 
   2px -2px 3px #080808, 
  -2px -2px 3px #080808;
}

#social-links {
  font-size: 7rem; /* Adjusted by media query below */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F8F8F8;
  margin-top: 2rem;
}

#social-links a {
  position: relative;
  text-decoration: none;
  color: #F8F8F8;
  text-align: center;
  margin-bottom: 1rem;
  opacity: 0; /* Animated with GSAP */
  transition: transform 0.3s ease-in-out;
  text-shadow: -1px 1px 0 #080808, 1px 1px 0 #080808, 1px -1px 0 #080808, -1px -1px 0 #080808;
}

#social-links a:hover {
  transform: scale(1.1);
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  #title {
    font-size: 6rem; /* Smaller font size for mobile */
  }

  #social-links {
    font-size: 4rem; /* Adjust font size for better mobile visibility */
  }
}

@media (max-width: 480px) {
  #title {
    font-size: 4rem; /* Even smaller font size for very small devices */
  }

  #social-links {
    font-size: 2rem; /* Further adjust font size for small screens */
  }
}
