---
firstname: NICK
lastname: GABLER
website: nick.gabler.app
linklist:
  Contact: mailto:nick@gabler.app
  GitHub: https://github.com/ngabler
  Instagram: https://www.instagram.com/swappiness0/
  Linkedin: https://www.linkedin.com/in/nick-gabler-505b9453/
  X: https://x.com/swappiness0
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nick Gabler, Nicholas Gabler, Links, Resume, Instagram, Twitter, Email, Github, Systems Engineer, Systems Administrator, Linux Administrator, How to hire a systems engineer, How to hire a systems administrator, Website designer, AWS cloud practitioner, AWS certified cloud practitioner, Las Vegas, Vegas, Remote">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>{{ firstname }} {{ lastname }}</title>
    <style src="/css/main.css"></style>
  </head>
  <body><canvas id="bgCanvas"></canvas>
    <h1 id="title">{{ firstname }} {{ lastname }}</h1>
    <div id="social-links"> {% for link in linklist %} {% if forloop.last == true %} <a href="{{ link[1] }}" target="_blank">{{ link[0] }}</a> {% else %} <a href="{{ link[1] }}" target="_blank">{{ link[0] }}</a> {% endif %} {% endfor %} </div>
    <script src="/scripts/main.js"></script>
  </body>
</html>
