---
firstname: NICK
lastname: GABLER
website: nick.gabler.app
linklist:
  Contact: mailto:nick@gabler.app
  GitHub: https://github.com/ngabler
  Instagram: https://www.instagram.com/swappiness0/
  Linkedin: https://www.linkedin.com/in/nick-gabler-505b9453/
  Twitter: https://twitter.com/swappiness0
---
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Nick Gabler, Nicholas Gabler, Links, Resume, Instagram, Twitter, Email, Github, Systems Engineer, Systems Administrator, Linux Administrator, How to hire a systems engineer, How to hire a systems administrator, Website designer, AWS cloud practitioner, AWS certified cloud practitioner, Las Vegas, Vegas, Remote">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <title>{{ firstname }} {{ lastname }}</title>
  <style>h1,ul{margin-block-start:0%;margin-block-end:0%;margin-inline-start:0;margin-inline-end:0}body,html{font-family:'JetBrains Mono',monospace;font-style:normal;font-weight:800;color:#fff;background-color:#000;font-size:100%;margin:0;padding:0;resize:none;width:1200px}h1{display:block;font-size:160px;font-weight:700;margin-left:5%}ul{display:list-item;font-size:48px;list-style-type:"\2500\0020";padding-inline-start:0%;padding-top:1.25%;margin-left:10%}a:link{color:#fff;text-decoration-line:none}a:visited{color:grey}a:hover{color:#e6e6e6}a:active{color:#999}</style>
</head>

<body>
  <h1>{{ firstname }}</h1><br>
  <h1>{{ lastname }}</h1><br>
  {% for link in linklist %}
  {% if forloop.last == true %}
  <ul>
    <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
  </ul><br>
  {% else %}
  <ul>
    <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
  </ul><br>
  {% endif %}
  {% endfor %}
</body>

</html>
