<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ firstname }} {{ lastname }}, Links, Resume, Instagram, Twitter, Email, Github, Systems Engineer, Systems Administrator, Linux Administrator, How to hire a systems engineer, How to hire a systems administrator, Website designer, AWS cloud practitioner, AWS certified cloud practitioner, Las Vegas, Vegas, Remote">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <title>{{ firstname }} {{ lastname }}</title>
  </head>
  <body>
    <canvas id="bgCanvas"></canvas>
    <h1 id="title">{{ firstname }} {{ lastname }}</h1>
    <div id="social-links">
        {% for name, url in linklist %}
            <a href="{{ url }}" target="_blank" data-text="{{ name }}">{{ name }}</a>
        {% endfor %}
    </div>
    <script src="/scripts/main.js"></script>
  </body>
</html>
